#php{
  vertical-align: middle;
  height: 80px;
}

#html{
  vertical-align: middle;
  height: 80px;
}

#js{
  vertical-align: middle;
  height: 80px;
}

#photoshop{
  vertical-align: middle;
  height: 80px;
}
#python{
  vertical-align: middle;
  height: 80px;
}
#illustrator{
  vertical-align: middle;
  height: 80px;
}
